<div class="row">
    <div class="col col-md-8 offset-md-2">
        <h1>Editing Question</h1>

        <%= render 'form', question: @question %>

        <%= link_to 'Back', @question %> |
        <%= link_to 'Home', questions_path %>
    </div>
</div>
