<div class="row">
    <div class="col col-md-8 offset-md-2">
        <h1>New Question</h1>

        <%= render 'form', question: @question %>
        <br>
        <%= link_to 'Back', questions_path %>
    </div>
</div>
