<div class="row">
    <div class="col col-md-8 offset-md-2 link-yellow">
        <h1>New Question</h1>

        <%= render 'form', question: @question %>
        <br>
        <p><%= link_to 'Back', questions_path %></p>
    </div>
</div>
