<% provide(:title, "Editing profile") %>

<div class="row">
    <div class="col col-md-8 offset-md-2 link-yellow">

        <h1>Editing Profile</h1>
        <%= render 'form', profile: @profile %>
        <br>
        <%= link_to 'Cancel', @profile %>
    </div>
</div>
