<div class="row">
    <div class="col-md-6 offset-md-3 text-center logo" style="border: 1px solid;">
        <h1>Wordsworth</h1>
    </div>
</div>

        <div class="btn btn-primary btn-lg">CREATE ACCOUNT</div><br>
        <div class="btn btn-info btn-lg">LOG IN</div>