<div class="landing">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center" >
                <h1 class="logo">Wordsworth</h1>
                <div class="btn btn-primary btn-lg">CREATE ACCOUNT</div><br>
                <div class="btn btn-info btn-lg">LOG IN</div>
            </div>
        </div>
    </div>
</div>
