<div class="landing">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center" >
                <h1 class="logo">Wordsworth</h1>
                <div><%= link_to 'CREATE ACCOUNT', new_user_registration_path, class: 'btn btn-lg btn-primary' %></div><br>
                <div><%= link_to 'LOG IN', new_user_session_path, class: 'btn btn-lg btn-secondary' %></div>
            </div>
        </div>
    </div>
</div>