@import "bootstrap";

body {
    font-family: 'Vollkorn', serif;
    color: #444
}

.landing {
    background-image: asset-data-url('mia-baker-367260.jpg');
    background-position: 30% 60%; 
    background-size: cover;
    height: 100vh;
    color: white;
    
}

.landing-logo {
    margin: 50px;
    font-family: 'Tangerine', cursive;
    font-size: 4.5em;
}

.landing-logo a {
    text-shadow: 3px 3px 2px #333;
    color: inherit;
    transition: color 0.5s ease;
    &:hover {
        color: rgb(206, 172, 60);
        text-decoration: none;
        text-shadow: 3px 3px 2px #333;
    }
}

.landing-link {
    a:hover {
        text-shadow: 3px 3px 2px #333;
    }
}

.btn-primary {
    background-color: #435B5B !important;
    border-color: #435B5B !important;
}

.btn-primary:hover {
    background-color: #3A4E4E !important;
    border-color: #3A4E4E !important;
}

#header-logo {
    font-family: 'Tangerine', cursive;
    font-size: 4em;
    line-height: 0.6;
}

header {
    background-color: #506463;
    color: white;
    a {
        margin-top: 12px;
        color: inherit;
        transition: text-shadow 0.3s ease;
        &:hover {
            color: inherit;
            text-decoration: none;
            text-shadow: 3px 4px 2px #333;
        }
    }
}

.header-menu {
    border-top: 16px solid transparent;
}

.search-wrapper {
    margin-top: 16px;
    position: relative;
    width: 260px;
    border: 0px solid #73AD21;
}

#search-icon {
    position: absolute;
    top: 0px;
    right: 0;
    width: 30px;
    height: 30px;
    border: 0px solid #73AD21;
}

.btn-post {
    a {
        color: white;
        font-size: 1.1em;
        &:hover {
            text-decoration: none;
        }
    }
}


.latest-question {
    margin: 29px 0;
}

.question-title {
    a {
        color: rgb(206, 172, 60);
        transition: text-shadow 0.2s ease;
        &:hover {
            text-decoration: none;
            text-shadow: 3px 3px 3px #ddd;
        }
    }
}

.question-body {
    border: 1px solid rgb(228, 228, 228);
    padding: 12px;
    margin-top: 12px;
    a {
        color: inherit;
        &:hover {
            text-decoration: none;
            text-shadow: 3px 3px 3px #ddd;
        }
    }
}

table {
    width: 100%;
    border: 1px solid rgb(228, 228, 228);
}

td {
    padding: 12px;
    border-bottom: 1px solid rgb(228, 228, 228);
    a {
        color: rgb(206, 172, 60);
        transition: text-shadow 0.2s ease;
        &:hover {
            color: rgb(206, 172, 60);
            text-decoration: none;
            text-shadow: 3px 3px 3px #ddd;
        }
    }
}

.right {
    float: right;
}

.field {
    margin: 12px 0;
}

textarea {
    width: 100%;    
    height: 200px;    
}

// View larger than tablet 
@media (min-width: 768px) {
    .landing-logo {
        font-size: 160px;
    }
    
    .search-wrapper {
        margin-top: 0px;
        position: relative;
        width: 260px;
        border: 0px solid #73AD21;
    }
    
    .btn-post {
        max-width: 40%;
        font-size: 1.2em;
    }
    
}
